@media (min-width: 1200px) {
	main {
		margin-left: 270px;
		margin-top: 80px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 5px;
		row-gap: 86px;
	}

	div#span-two{
		grid-column: span 2;
		min-height: 410px;
		min-width: 100%;
	}

	.grafico{
		background: #ffffff;
		box-shadow: 0px 3px 10px rgba(88, 88, 88, 0.1), 0px 16px 31px rgba(88, 88, 88, 0.1);
		border-radius: 30px;
		min-height: 210px;
		width: 500px;
		border-radius: 30px;
		padding: 20px;
	}

	.btn-filtrar{
		display: block;
    }
}